extends layout

block content
  h1= title
  p This repository does not exist, or you do not have permission to access it. Please contact the repoistory owner to make sure you have the correct permissions on the repository.
  a(href='/') Take me to the homepage!
