!!!
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='//ajax.googleapis.com/ajax/libs/jqueryui/1/themes/smoothness/jquery-ui.min.css')
    != css('app')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.0.0/moment.min.js')
    // script(src='//cdnjs.cloudflare.com/ajax/libs/underscore.string/2.3.0/underscore.string.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js')
    script(src='/js/backbone.marionette.min.js')
    style
      body {
        padding-top: 60px;
      }

  body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          button.btn.btn-navbar(type='button',data-toggle='collapse',data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='/') Project Name
          .nav-collapse.collapse
            ul.nav
              li.active
                a(href='#') Home
              li
                a(href='#') About
              li
                a(href='#') Contact
            ul.nav.pull-right
              li
                if user
                  a(href='/logout') Signed in as: #{user.name}
                else
                  a(href='/auth/github') Sign In w/ Github

    .container-fluid
      .row-fluid
        block content
