.messages
  top: 100px
  left: 20px
  bottom: 50px
  overflow-y: scroll
  position: absolute
  right: 200px
  tr
    td
      img
      object
        max-width: 300px
        border: 0
      &.message
        width: 100%
      &.message_name
        white-space: nowrap
      &.message_time
        white-space: nowrap
    &.highlightedRow
      td
        background-color: #fcc !important

#userlist
  li
    &.inactive
      color: #aaa
