#messages
  tr
    td
      img
      object
        max-width: 300px
        border: 0
      &.message
        width: 100%
      &.message_name
        white-space: nowrap
      &.message_time
        white-space: nowrap
    &.highlightedRow
      td
        background-color: #fcc !important
